-
    const NOTAS_CONSUMIDOR_18 = [
        {
            colorBg: colorOrangeBg,
            colorTitle: colorOrange,
            imgLabel: 'trabajo-label.png', 
            imgLabelAlt: 'Trabajo',
            imgThumb: 'trabajo-thumb-18.png',
            imgThumbAlt: '¡Tres apps muy útiles!',
            imgButton: 'trabajo-boton.png',
            imgButtonAlt: 'Conócelas aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/aplicaciones-gratuitas-productividad',
            textTitle: '¡Tres apps muy útiles!',
            textContent: 'Tu desempeño es fundamental para crecer y alcanzar tus objetivos. Con estas aplicaciones encontrarás soluciones simples para incrementarlo.',
        },
        {
            colorBg: colorBlueBg,
            colorTitle: colorBlue,
            imgLabel: 'comunidad-label.png', 
            imgLabelAlt: 'Comunidad',
            imgThumb: 'comunidad-thumb-18.png',
            imgThumbAlt: '¡Se acerca el Día del Padre!',
            imgButton: 'comunidad-boton.png',
            imgButtonAlt: 'Descubre más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/regalos-dia-del-padre',
            textTitle: '¡Se acerca el Día del Padre!',
            textContent: 'Si aún estás pensando cómo festejar a papá, aquí te dejamos 5 divertidas actividades.',
        },
        {
            colorBg: colorPurpleBg,
            colorTitle: colorPurple,
            imgLabel: 'recomendacion-label.png', 
            imgLabelAlt: 'Recomendación',
            imgThumb: 'recomendacion-thumb-18.png',
            imgThumbAlt: 'Acciones para mitigar la inflación',
            imgButton: 'recomendacion-boton.png',
            imgButtonAlt: 'Ver más',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/inflacion-como-sacarle-la-vuelta',
            textTitle: 'Acciones para mitigar la inflación',
            textContent: 'Recientemente el Gobierno de México implementó medidas para reducir el impacto de la inflación. Una de ellas es llegar a un convenio con las telefónicas a fin de evitar incrementos en sus precios.',
        },
    ]
    
    const NOTAS_CONSUMIDOR_H_18 = [
        {
            colorBg: colorOrangeBg,
            colorTitle: colorOrange,
            imgThumb: 'trabajo-thumb-18.png',
            imgThumbAlt: '¡Tres apps muy útiles!',
            imgButton: 'trabajo-boton.png',
            imgButtonAlt: 'Conócelas aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/aplicaciones-gratuitas-productividad',
            textTitle: '¡Tres apps muy útiles!<br>',
            textContent: 'Tu desempeño es fundamental para crecer y alcanzar tus objetivos. Con estas aplicaciones encontrarás soluciones simples para incrementarlo.<br><br>',
        },
        {
            colorBg: colorBlueBg,
            colorTitle: colorBlue,
            imgThumb: 'comunidad-thumb-18.png',
            imgThumbAlt: '¡Se acerca el Día del Padre!',
            imgButton: 'comunidad-boton.png',
            imgButtonAlt: 'Descubre más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/regalos-dia-del-padre',
            textTitle: '¡Se acerca el Día del Padre!',
            textContent: 'Si aún estás pensando cómo festejar a papá, aquí te dejamos 5 divertidas actividades.<br><br><br><br><br>',
        },
        {
            colorBg: colorPurpleBg,
            colorTitle: colorPurple,
            imgThumb: 'recomendacion-thumb-18.png',
            imgThumbAlt: 'Acciones para mitigar la inflación',
            imgButton: 'recomendacion-boton.png',
            imgButtonAlt: 'Ver más',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/inflacion-como-sacarle-la-vuelta',
            textTitle: 'Acciones para mitigar la inflación',
            textContent: 'Recientemente el Gobierno de México implementó medidas para reducir el impacto de la inflación. Una de ellas es llegar a un convenio con las telefónicas a fin de evitar incrementos en sus precios.',
        },
    ]
    
    const NOTAS_CONSUMIDOR_35 = [
        {
            colorBg: colorOrangeBg,
            colorTitle: colorOrange,
            imgLabel: 'trabajo-label.png', 
            imgLabelAlt: 'Trabajo',
            imgThumb: 'trabajo-thumb-35.png',
            imgThumbAlt: '¡Tres apps muy útiles!',
            imgButton: 'trabajo-boton.png',
            imgButtonAlt: 'Conócelas aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/aplicaciones-gratuitas-productividad',
            textTitle: '¡Tres apps muy útiles!',
            textContent: 'Tu desempeño es fundamental para crecer y alcanzar tus objetivos. Con estas aplicaciones encontrarás soluciones simples para incrementarlo.',
        },
        {
            colorBg: colorBlueBg,
            colorTitle: colorBlue,
            imgLabel: 'comunidad-label.png', 
            imgLabelAlt: 'Comunidad',
            imgThumb: 'comunidad-thumb-35.png',
            imgThumbAlt: '¡Se acerca el Día del Padre!',
            imgButton: 'comunidad-boton.png',
            imgButtonAlt: 'Descubre más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/regalos-dia-del-padre',
            textTitle: '¡Se acerca el Día del Padre!',
            textContent: 'Si aún estás pensando cómo festejar a papá, aquí te dejamos 5 divertidas actividades.',
        },
        {
            colorBg: colorPurpleBg,
            colorTitle: colorPurple,
            imgLabel: 'recomendacion-label.png', 
            imgLabelAlt: 'Recomendación',
            imgThumb: 'recomendaciones-thumb-35.png',
            imgThumbAlt: 'Acciones para mitigar la inflación',
            imgButton: 'recomendacion-boton.png',
            imgButtonAlt: 'Ver más',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/inflacion-como-sacarle-la-vuelta',
            textTitle: 'Acciones para mitigar la inflación',
            textContent: 'Recientemente el Gobierno de México implementó medidas para reducir el impacto de la inflación. Una de ellas es llegar a un convenio con las telefónicas a fin de evitar incrementos en sus precios.',
        },
    ]
    
    const NOTAS_CONSUMIDOR_50 = [
        {
            colorBg: colorOrangeBg,
            colorTitle: colorOrange,
            imgLabel: 'trabajo-label.png', 
            imgLabelAlt: 'Trabajo',
            imgThumb: 'trabajo-thumb-50.png',
            imgThumbAlt: '¡Tres apps muy útiles!',
            imgButton: 'trabajo-boton.png',
            imgButtonAlt: 'Conócelas aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/aplicaciones-gratuitas-productividad',
            textTitle: '¡Tres apps muy útiles!',
            textContent: 'Tu desempeño es fundamental para crecer y alcanzar tus objetivos. Con estas aplicaciones encontrarás soluciones simples para incrementarlo.',
        },
        {
            colorBg: colorBlueBg,
            colorTitle: colorBlue,
            imgLabel: 'comunidad-label.png', 
            imgLabelAlt: 'Comunidad',
            imgThumb: 'comunidad-thumb-50.png',
            imgThumbAlt: '¡Se acerca el Día del Padre!',
            imgButton: 'comunidad-boton.png',
            imgButtonAlt: 'Descubre más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/regalos-dia-del-padre',
            textTitle: '¡Se acerca el Día del Padre!',
            textContent: 'Si aún estás pensando cómo festejar a papá, aquí te dejamos 5 divertidas actividades.',
        },
        {
            colorBg: colorPurpleBg,
            colorTitle: colorPurple,
            imgLabel: 'recomendacion-label.png', 
            imgLabelAlt: 'Recomendación',
            imgThumb: 'recomendaciones-thumb-50.png',
            imgThumbAlt: 'Acciones para mitigar la inflación',
            imgButton: 'recomendacion-boton.png',
            imgButtonAlt: 'Ver más',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/inflacion-como-sacarle-la-vuelta',
            textTitle: 'Acciones para mitigar la inflación',
            textContent: 'Recientemente el Gobierno de México implementó medidas para reducir el impacto de la inflación. Una de ellas es llegar a un convenio con las telefónicas a fin de evitar incrementos en sus precios.',
        },
    ]
    
    const NOTAS_CLIENTE = [
        {
            colorBg: colorGreenBg,
            colorTitle: colorGreen,
            imgLabel: 'negocio-label.png', 
            imgLabelAlt: 'Negocio',
            imgThumb: 'negocio-thumb.png',
            imgThumbAlt: 'Regreso a la oficina',
            imgButton: 'negocio-boton.png',
            imgButtonAlt: 'Conoce más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/trabajo-hibrido-empresa',
            textTitle: 'Regreso a la oficina',
            textContent: 'Aprende las nuevas normas de regreso a la oficina y el horario flexible para brindar a tus colaboradores una experiencia placentera.',
        },
        {
            colorBg: colorBrownBg,
            colorTitle: colorBrown,
            imgLabel: 'tecnologia-label.png', 
            imgLabelAlt: 'Tecnología',
            imgThumb: 'tecnologia-thumb.png',
            imgThumbAlt: 'Día del social media',
            imgButton: 'tecnologia-boton.png',
            imgButtonAlt: 'Conoce más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/herramientas-digitales',
            textTitle: 'Día del Social Media',
            textContent: 'Conoce las mejores herramientas para implementarlas en tu negocio y hacer que las redes sociales sean una ventana de oportunidades para su crecimiento.',
        },
        {
            colorBg: colorPurpleBg,
            colorTitle: colorPurple,
            imgLabel: 'trabajo-label.png', 
            imgLabelAlt: 'Trabajo',
            imgThumb: 'trabajo-thumb.png',
            imgThumbAlt: 'Tips para hacer rendir la quincena',
            imgButton: 'trabajo-boton.png',
            imgButtonAlt: 'Continúa leyendo',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/educaci%C3%B3n-financiera',
            textTitle: 'Tips para hacer rendir la quincena',
            textContent: 'Descubre cómo puedes hacer que el dinero de tus colaboradores alcance para cubrir todas sus necesidades y tengan un futuro mucho más prometedor a través de simples acciones diarias.',
        },
    ]
    
    const NOTAS_MOBILITY = [
        {
            colorBg: colorRedBg,
            colorTitle: colorRed,
            imgLabel: 'soluciones-label.png', 
            imgLabelAlt: 'Soluciones',
            imgThumb: 'soluciones-thumb.png',
            imgThumbAlt: 'Soluciones',
            imgButton: 'soluciones-boton.png',
            imgButtonAlt: 'Aprende más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/gestion-flotas-reportes?hs_preview=YpfSLLjN-76528422841',
            textTitle: 'Reporte ideal',
            textContent: 'Conoce cómo crear un reporte ideal para medir el rendimiento de tus unidades y colaboradores de manera sencilla.',
        },
        {
            colorBg: colorOrangeBg,
            colorTitle: colorOrange,
            imgLabel: 'mobilidad-label.png', 
            imgLabelAlt: 'Mobilidad',
            imgThumb: 'mobilidad-thumb.png',
            imgThumbAlt: 'Mobilidad',
            imgButton: 'mobilidad-boton.png',
            imgButtonAlt: 'Continúa leyendo',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/ultima-milla',
            textTitle: 'Última milla',
            textContent: 'Descubre esta nueva tendencia en el transporte de flotas y sácale provecho a la transformación del mercado.',
        },
        {
            colorBg: colorBlueBg,
            colorTitle: colorBlueDark,
            imgLabel: 'tendencias-label.png', 
            imgLabelAlt: 'Tendencias',
            imgThumb: 'tendencias-thumb.png',
            imgThumbAlt: 'Tendencias',
            imgButton: 'tendencias-boton.png',
            imgButtonAlt: 'Continúa leyendo',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/playlist-carretera',
            textTitle: 'Las canciones que no pueden faltar para dominar la carretera',
            textContent: '¿Deseas mejorar la experiencia de tus colaboradores? Nosotros te traemos una selección de las mejores canciones para tener un viaje placentero y que al mismo tiempo aumenten su productividad.',
        },
        {
            colorBg: colorYellowBg,
            colorTitle: colorYellow,
            imgLabel: 'conoce-label.png', 
            imgLabelAlt: 'Conoce nuestra red de aceptación',
            imgThumb: 'conoce-thumb.png',
            imgThumbAlt: 'Re de aceptacion',
            imgButton: 'conoce-boton.png',
            imgButtonAlt: 'Descubre más',
            imgButtonUrl: 'https://blog.sodexo.com.mx/hubfs/directorios-de-mes-de-marzo/Marzo_Red_de_Aceptación_WIZEO.pdf',
            textTitle: '',
            textContent: '',
        },
    ]

mixin NOTA(arrNotas)
    - let arr = arrNotas
    table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="max-width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
        each item in arr
            tr  
                td(width="24")
                td
                    table(border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor=`${item.colorBg}` role="presentation" style="max-width: 552px; border-radius: 16px; mso-table-lspace: 0; mso-table-rspace: 0;")
                        tr: td(height="24", colspan="3")
                        tr
                            td(width="24")
                            td
                                table(border="0", cellpadding="0", cellspacing="0", width="auto", role="presentation" style="max-width: 504px; mso-table-lspace: 0; mso-table-rspace: 0;")
                                    tr
                                        td(align="left", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                                            img(src=`${pathImage}${item.imgLabel}`, alt=`${item.imgLabelAlt}`)
                                    tr
                                        td(style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                                            <br><br>
                                            strong(style=`font-size: ${textTitulo}; color: ${item.colorTitle};`) !{`${item.textTitle}`}
                                            <br><br>
                                    tr
                                        td(align="center", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                                            img(src=`${pathImage}${item.imgThumb}`, style="max-width: 504px; height: auto;" width="100%", height="auto", alt=`${item.imgThumbAlt}`)
                                    tr
                                        td(style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                                            <br><br>
                                            span(style=`font-size: ${textBody}; color: #000000;`) !{`${item.textContent}`}
                                            <br><br>
                                    tr
                                        td(align="right", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                                            a(href=`${item.imgButtonUrl}` rel="noopener" target="_blank") 
                                                img(src=`${pathImage}${item.imgButton}`, alt=`${item.imgButtonAlt}`)
                            td(width="24")
                        tr: td(height="24", colspan="3")
                td(width="24")
            tr: td(height="24", colspan="3")

mixin NOTA_HORIZONTAL(arrNotas)
    - let arr = arrNotas
    table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="max-width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
            tr  
                td(width="16")
                each item, key in arr
                    if key === 0
                        td(valign="top")
                            table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" bgcolor=`${item.colorBg}` style="max-width: 178px; mso-table-lspace: 0; mso-table-rspace: 0;")
                                tr: td(height="8" colspan="3")
                                tr
                                    td(width="8")
                                    td(style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                                        img(src=`${pathImage}${item.imgThumb}`, style="width: 100%; height: auto;" width="100%", height="auto", alt=`${item.imgThumbAlt}`)
                                        <br>
                                        strong(style=`font-size: ${textTitulo}; color: ${item.colorTitle};`) !{`${item.textTitle}`}
                                        <br><br>
                                        span(style=`font-size: ${textBody}; color: #000000;`) !{`${item.textContent}`}
                                        <br><br>
                                        a(href=`${item.imgButtonUrl}` rel="noopener" target="_blank") 
                                            img(src=`${pathImage}${item.imgButton}` alt=`${item.imgButtonAlt}` width="100%" style="width: 100%;")
                                    td(width="8")
                                tr: td(height="8" colspan="3")
                td(width="16")
                each item, key in arr
                    if key === 1    
                        td(valign="top")
                            table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" bgcolor=`${item.colorBg}` style="max-width: 180px; mso-table-lspace: 0; mso-table-rspace: 0;")
                                tr: td(height="8" colspan="3")
                                tr
                                    td(width="8")
                                    td(style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                                        img(src=`${pathImage}${item.imgThumb}`, style="width: 100%; height: auto;" width="100%", height="auto", alt=`${item.imgThumbAlt}`)
                                        <br>
                                        strong(style=`font-size: ${textTitulo}; color: ${item.colorTitle};`) !{`${item.textTitle}`}
                                        <br><br>
                                        span(style=`font-size: ${textBody}; color: #000000;`) !{`${item.textContent}`}
                                        <br><br>
                                        a(href=`${item.imgButtonUrl}` rel="noopener" target="_blank") 
                                            img(src=`${pathImage}${item.imgButton}`, alt=`${item.imgButtonAlt}` width="100%" style="width: 100%;")
                                    td(width="8")
                                tr: td(height="8" colspan="3")
                td(width="16")
                each item, key in arr
                    if key === 2
                        td(valign="top")
                            table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" bgcolor=`${item.colorBg}` style="max-width: 178px; mso-table-lspace: 0; mso-table-rspace: 0;")
                                tr: td(height="8" colspan="3")
                                tr
                                    td(width="8")
                                    td(style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                                        img(src=`${pathImage}${item.imgThumb}`, style="max-width: 504px; height: auto;" width="100%", height="auto", alt=`${item.imgThumbAlt}`)
                                        <br>
                                        strong(style=`font-size: ${textTitulo}; color: ${item.colorTitle};`) !{`${item.textTitle}`}
                                        <br><br>
                                        span(style=`font-size: ${textBody}; color: #000000;`) !{`${item.textContent}`}
                                        <br><br>
                                        a(href=`${item.imgButtonUrl}` rel="noopener" target="_blank") 
                                            img(src=`${pathImage}${item.imgButton}`, alt=`${item.imgButtonAlt}` width="100%" style="width: 100%;")
                                    td(width="8")
                                tr: td(height="8" colspan="3")
                td(width="16")

mixin TEXT(textContent)
    table(border="0", cellpadding="0", cellspacing="0", width="100%", role="presentation" style="max-width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
        tr  
            td(width="24")
            td
                table(border="0", cellpadding="0", cellspacing="0", width="100%", role="presentation" style="max-width: 552px; mso-table-lspace: 0; mso-table-rspace: 0;")
                    tr: td(height="24")
                    tr
                        td(width="24")
                        td(width="100%", style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                            span(style=`font-size: ${textBody}; color: #000000;`) !{`${textContent}`}
                        td(width="24")
                    tr: td(height="24")
            td(width="24")

mixin BOX_TEXT(bgColor, textTitle, textContent)
    table(border="0", cellpadding="0", cellspacing="0", width="100%", role="presentation" bgcolor=`${bgColor}` style="max-width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
        tr  
            td(width="24")
            td
                table(border="0", cellpadding="0", cellspacing="0", width="100%", role="presentation" style="max-width: 552px; mso-table-lspace: 0; mso-table-rspace: 0;")
                    tr: td(height="32" colspan="3")
                    tr
                        td(width="48")
                        td(align="center" style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                            strong(style=`font-size: 24px; color: #FFFFFF;`) !{`${textTitle}`}
                            <br><br>
                            span(style=`font-size: ${textContent}; color: #FFFFFF;`) !{`${textContent}`}
                        td(width="48")
                    tr: td(height="32" colspan="3")
            td(width="24")

mixin NOTA_LEFT(textTitleColor, imgThumb, imgButton, imgButtonAlt, imgButtonWidth, imgButtonUrl, textTitle, textContent)
    table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="max-width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
        tr  
            td(valign="center" align="left", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                img(src=`${imgThumb}` alt=`${textTitle}` width="100%" style="max-width: 320px;")
            td(valign="center")
                table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="max-width: 280px; mso-table-lspace: 0; mso-table-rspace: 0;")
                    tr
                        td(width="24")
                        td(align="left", style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                            strong(style=`font-size: 22px; color: ${textTitleColor};`) !{`${textTitle}`}
                            <br><br>
                            span(style=`font-size: ${textBody}; color: #000000;`) !{`${textContent}`}
                            <br><br>
                            a(href=`${imgButtonUrl}` style=`font-size: ${textBody}; color: #000000;`) 
                                img(src=`${imgButton}`, alt=`${imgButtonAlt}` width=`${imgButtonWith}` style=`width: ${imgButtonWidth}px;`)
                        td(width="24")

mixin NOTA_RIGHT(textTitleColor, imgThumb, imgButton, imgButtonAlt, imgButtonWidth, imgButtonUrl, textTitle, textContent)
    table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="max-width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
        tr  
            td(valign="center")
                table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="max-width: 280px; mso-table-lspace: 0; mso-table-rspace: 0;")
                    tr
                        td(width="24")
                        td(align="left", style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                            strong(style=`font-size: 22px; color: ${textTitleColor};`) !{`${textTitle}`}
                            <br><br>
                            span(style=`font-size: ${textBody}; color: #000000;`) !{`${textContent}`}
                            <br><br>
                            a(href=`${imgButtonUrl}` style=`font-size: ${textBody}; color: #000000;`) 
                                img(src=`${imgButton}`, alt=`${imgButtonAlt}` width=`${imgButtonWith}` style=`width: ${imgButtonWidth}px;`)
                        td(width="24")
            td(valign="center" align="left", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                img(src=`${imgThumb}` alt=`${textTitle}` width="100%" style="max-width: 320px;")

mixin BOX_TEXT_ALT(bgColor, textTitle, textContent)
    table(border="0", cellpadding="0", cellspacing="0", width="600", role="presentation" bgcolor=`${bgColor}` style="width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
        tr  
            td(width="24")
            td
                table(border="0", cellpadding="0", cellspacing="0", width="552", role="presentation" style="width: 552px; mso-table-lspace: 0; mso-table-rspace: 0;")
                    tr: td(height="32" colspan="3")
                    tr
                        td(width="48")
                        td(align="center" style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                            strong(style=`font-size: 24px; color: #FFFFFF;`) !{`${textTitle}`}
                            <br><br>
                            span(style=`font-size: ${textContent}; color: #FFFFFF;`) !{`${textContent}`}
                        td(width="48")
                    tr: td(height="32" colspan="3")
            td(width="24")

mixin NOTA_LEFT_ALT(imgLeft, imgLeftAlt, imgRight, imgRightAlt, imgRightUrl)
    table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="max-width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
        tr  
            td(valign="center" align="left" width="50%" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                img(src=`${imgLeft}` alt=`${imgLeftAlt}` width="100%" style="max-width: 300px;")
            td(valign="center" align="left" width="50%" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                a(href=`${imgRightUrl}` rel="noopener" target="_blank") 
                    img(src=`${imgRight}` alt=`${imgRightAlt}` width="100%" style="max-width: 300px;")

mixin NOTA_RIGHT_ALT(imgLeft, imgLeftAlt, imgLeftUrl, imgRight, imgRightAlt)
    table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="max-width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
        tr  
            td(valign="center" align="left" width="50%" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                a(href=`${imgLeftUrl}` rel="noopener" target="_blank") 
                    img(src=`${imgLeft}` alt=`${imgLeftAlt}` width="100%" style="max-width: 300px;")
            td(valign="center" align="left" width="50%" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                img(src=`${imgRight}` alt=`${imgRightAlt}` width="100%" style="max-width: 300px;")

mixin MARGIN(height)
    table(border="0", cellpadding="0", cellspacing="0", width="100%", role="presentation" style="max-width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
        tr: td(height=`${height}`)