mixin ONE_COL_URL(mailchimpImgUrl, mailchimpImgUrlAlt, openLink)
    table(border="0" cellpadding="0" cellspacing="0" width="800" style="mso-table-lspace: 0; mso-table-rspace: 0;")
        tr
            td(colspan="2", align="center", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                a(href=`${openLink}`, rel="noopener", target="_blank"): img(src=`${mailchimpImgUrl}`, alt=`${mailchimpImgUrlAlt}`, style="width: 800px; height: auto;" width="800" height="auto")

mixin TWO_COL_URL(one, oneAlt, oneUrl, two, twoAlt, twoUrl)
    table(border="0" cellpadding="0" cellspacing="0" width="800" style="mso-table-lspace: 0; mso-table-rspace: 0;")
        tr
            td(style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                a(href=`${oneUrl}`, rel="noopener", target="_blank")
                    img(src=`${one}`, alt=`${oneAlt}`, style="width: 325px; height: auto;" width="400" height="auto")
            td(style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                a(href=`${twoUrl}`, rel="noopener", target="_blank")
                    img(src=`${two}`, alt=`${twoAlt}`, style="width: 475px; height: auto;" width="400" height="auto")

mixin ONE_COL(mailchimpImgUrl, mailchimpImgUrlAlt)
 table(border="0" cellpadding="0" cellspacing="0" width="800" style="mso-table-lspace: 0; mso-table-rspace: 0;")
    tr
        td(colspan="2", align="center", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
            img(src=`${mailchimpImgUrl}`, alt=`${mailchimpImgUrlAlt}`, style="width: 800px; height: auto;" width="800" height="auto")

mixin TWO_COL(mailchimpImgUrlOne, mailchimpImgUrlAltOne, mailchimpImgUrlTwo, mailchimpImgUrlAltTwo, urlSecondCol)
    table(border="0" cellpadding="0" cellspacing="0" width="800" style="mso-table-lspace: 0; mso-table-rspace: 0;")
        tr
            td(align="center", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                img(src=`${mailchimpImgUrlOne}`, alt=`${mailchimpImgUrlAltOne}`, style="width: 400px; height: auto;" width="400" height="auto")
            td(align="center", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                //- a(href=`${urlSecondCol}`, rel="noopener", target="_blank") 
                img(src=`${mailchimpImgUrlTwo}`, alt=`${mailchimpImgUrlAltTwo}`, style="width: 400px; height: auto;" width="400" height="auto")

mixin THREE_COL(imgOne, imgOneAlt, imgTwo, imgTwoAlt, imgThree, imgThreeAlt)
    table(border="0" cellpadding="0" cellspacing="0" width="800" style="mso-table-lspace: 0; mso-table-rspace: 0;")
        tr
            td(align="center", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                img(src=`${imgOne}` alt=`${imgOneAlt}` style="width: 268px; height: auto;" width="268" height="auto")
            td(align="center", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                img(src=`${imgTwo}` alt=`${imgTwoAlt}` style="width: 244px; height: auto;" width="244" height="auto")
            td(align="center" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                img(src=`${imgThree}` alt=`${imgThreeAlt}` style="width: 288px; height: auto;" width="288" height="auto")

mixin MARGIN(marginHeight)
    table(border="0" cellpadding="0" cellspacing="0" width="800" style="mso-table-lspace: 0; mso-table-rspace: 0;")
        tr: td(height=`${marginHeight}` style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")