-
    const NOTAS_CONSUMIDOR = [
        {
            colorBg: colorPinkBg,
            colorTitle: colorPink,
            imgLabel: 'sodexo-newsletter-abril-consumidor-nota-dia-de-las-madres.png', 
            imgLabelAlt: 'Día de las madres',
            imgThumb: 'sodexo-newsletter-abril-consumidor-poster-dia-de-las-madres.png',
            imgThumbAlt: 'Regalos inolvidables',
            imgButton: 'sodexo-newsletter-abril-consumidor-boton-descubre-mas-aqui.png',
            imgButtonAlt: 'Descubre más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/regalos-dia-de-las-madres',
            textTitle: 'Regalos inolvidables',
            textContent: '¿Sigues pensando qué regalarle a mamá este 10 de mayo? ¡Nosotros te ayudamos! Escoger un buen regalo es un arte y puede generar un recuerdo inigualable.',
        },
        {
            colorBg: colorBrownBg,
            colorTitle: colorBrown,
            imgLabel: 'sodexo-newsletter-abril-consumidor-nota-recursos-humanos.png', 
            imgLabelAlt: 'Recursos Humanos',
            imgThumb: 'sodexo-newsletter-abril-consumidor-poster-dia-internaciona-del-trabajo.png',
            imgThumbAlt: 'Día internacional del trabajo',
            imgButton: 'sodexo-newsletter-abril-consumidor-boton-sigue-leyendo.png',
            imgButtonAlt: 'Sigue leyendo',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/dia-del-trabajo',
            textTitle: 'Día Internacional del Trabajo',
            textContent: '¿Sabías que este día se homenajea a los obreros “Mártires de Chicago” que impulsaron el movimiento de los derechos de los trabajadores? Descubre su importancia y cómo usarlo a tu favor.',
        },
        {
            colorBg: colorEmeraldBg,
            colorTitle: colorEmerald,
            imgLabel: 'sodexo-newsletter-abril-consumidor-nota-recomendaciones-del-mes.png', 
            imgLabelAlt: 'Recomendación del mes',
            imgThumb: 'sodexo-newsletter-abril-consumidor-poster-recomendacion-del-mes.png',
            imgThumbAlt: '¡Una app para alcanzar tus metas!',
            imgButton: 'sodexo-newsletter-abril-consumidor-boton-conocela-mejor-aqui.png',
            imgButtonAlt: 'Conócela mejor aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/app-financiera',
            textTitle: '¡Una app para alcanzar tus metas!',
            textContent: 'Money Box te permitirá saber cuánto dinero (al mes, quincena, semana o día) ahorrar para alcanzar tu objetivo. Solo tienes que introducir la meta de ahorro y el plazo en el que quieres conseguirlo.',
        },
    ]
    
    const NOTAS_CLIENTE = [
        {
            colorBg: colorBlueBg,
            colorTitle: colorBlue,
            imgLabel: 'sodexo-newsletter-abril-cliente-nota-capital.png', 
            imgLabelAlt: 'Capital',
            imgThumb: 'sodexo-newsletter-abril-cliente-poster-pago-de-utilidades.png',
            imgThumbAlt: 'Pago de utilidades',
            imgButton: 'sodexo-newsletter-abril-cliente-boton-sigue-leyendo.png',
            imgButtonAlt: 'Sigue leyendo',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/reparto-utilidades-2022',
            textTitle: 'Pago de Utilidades',
            textContent: 'Recordamos la importancia de este beneficio para los colaboradores, pues impulsa la economía y sirve como incentivo a la productividad. Descubre todo lo que debes saber sobre ello.',
        },
        {
            colorBg: colorOrangeBg,
            colorTitle: colorOrange,
            imgLabel: 'sodexo-newsletter-abril-cliente-nota-finanzas.png', 
            imgLabelAlt: 'Finanzas',
            imgThumb: 'sodexo-newsletter-abril-cliente-poster-bienestar-financiero.png',
            imgThumbAlt: 'Bienestar financiero',
            imgButton: 'sodexo-newsletter-abril-cliente-boton-conoce-mas-aqui.png',
            imgButtonAlt: 'Conoce más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/bienestar-financiero',
            textTitle: 'Bienestar financiero',
            textContent: 'Es uno de los principales retos para las empresas en la actualidad. ¿Qué impacto tiene en el clima laboral y en el desempeño de los colaboradores? Es más común de lo que imaginas.',
        },
        {
            colorBg: colorBlueBg,
            colorTitle: colorBlue,
            imgLabel: 'sodexo-newsletter-abril-cliente-nota-tecnologia.png', 
            imgLabelAlt: 'Tecnología',
            imgThumb: 'sodexo-newsletter-abril-cliente-poster-ciberseguridad.png',
            imgThumbAlt: 'Ciberseguridad',
            imgButton: 'sodexo-newsletter-abril-cliente-boton-descubre-mas-aqui.png',
            imgButtonAlt: 'Descubre más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/ciberseguridad',
            textTitle: 'Ciberseguridad',
            textContent: '¿Cuánto conoces sobre los hábitos de navegación de tus colaboradores? Prevenir intrusiones puede beneficiar de manera significativa los procesos dentro de tu empresa. ¡Hazlo una prioridad!',
        },
    ]
    
    const NOTAS_MOBILITY = [
        {
            colorBg: colorBlueBg,
            colorTitle: colorBlue,
            imgLabel: 'newsletter-abril-en-el-camino-nota-capital-1.png', 
            imgLabelAlt: 'Capital',
            imgThumb: 'newsletter-abril-en-el-camino-poster-flotilla-1.png',
            imgThumbAlt: 'Qué necesita tu flotilla para operar',
            imgButton: 'newsletter-abril-mobility-boton-descubre-mas-aqui.png',
            imgButtonAlt: 'Descubre más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/gestion-de-flota',
            textTitle: 'Qué necesita tu flotilla para operar',
            textContent: '¿Quieres saber cuáles son las necesidades en la industria del transporte? Nosotros te explicamos todo lo que debes saber sobre el sector de la movilidad.',
        },
        {
            colorBg: colorGreenBg,
            colorTitle: colorGreen,
            imgLabel: 'newsletter-abril-en-el-camino-nota-soluciones-estrategicas-1.png', 
            imgLabelAlt: 'Soluciones estratégicas',
            imgThumb: 'newsletter-abril-en-el-camino-poster-controles-1.png',
            imgThumbAlt: '5 controles que debes tener sobre tu flotilla',
            imgButton: 'newsletter-abril-mobility-boton-conoce-mas-aqui.png',
            imgButtonAlt: 'Conoce más aquí',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/control-de-flotas',
            textTitle: '5 controles que debes tener sobre tu flotilla',
            textContent: '¿Sigues pensando cómo optimizar tu operatividad? Descubre cómo puedes mejorar la logística y movilidad para hacer crecer tu negocio.',
        },
        {
            colorBg: colorBlueLightBg,
            colorTitle: colorBlueLight,
            imgLabel: 'newsletter-abril-en-el-camino-nota-celebraciones-1.png', 
            imgLabelAlt: 'Celebraciones',
            imgThumb: 'newsletter-abril-en-el-camino-poster-dia-nino-1.png',
            imgThumbAlt: 'Día del Niño 2022',
            imgButton: 'newsletter-abril-mobility-boton-sigue-leyendo.png',
            imgButtonAlt: 'Sigue leyendo',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/motivacion-niños',
            textTitle: 'Día del niño 2022',
            textContent: 'El Día del Niño es una festividad que trae buenos recuerdos para todos. El deseo de estar al volante rinde frutos y es una realidad gracias a la movilidad.',
        },
        {
            colorBg: colorOrangeBg,
            colorTitle: colorOrange,
            imgLabel: 'newsletter-abril-en-el-camino-nota-historia-1.png', 
            imgLabelAlt: 'Historia',
            imgThumb: 'newsletter-abril-en-el-camino-poster-camiones-1.png',
            imgThumbAlt: 'Camiones del pasado vs actuales',
            imgButton: 'newsletter-abril-mobility-boton-descubre-mas.png',
            imgButtonAlt: 'Descubre más',
            imgButtonUrl: 'https://blog.sodexo.com.mx/blog/evolucion-transporte',
            textTitle: 'Camiones del pasado vs. actuales',
            textContent: '¿Es la rueda el invento más importante de la humanidad? Dale un vistazo a la evolución de los camiones de carga y los sistemas más avanzados de la actualidad.',
        },
    ]

mixin NOTA(arrNotas)
    - let arr = arrNotas
    table(border="0" cellpadding="0" cellspacing="0" width="600" role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;")
        each item in arr
            tr  
                td(width="24")
                td(width="552")
                    table(border="0" cellpadding="0" cellspacing="0" width="552" bgcolor=`${item.colorBg}` role="presentation" style="border-radius: 16px; mso-table-lspace: 0; mso-table-rspace: 0;")
                        tr: td(height="24", colspan="3")
                        tr
                            td(width="24")
                            td(width="504")
                                table(border="0", cellpadding="0", cellspacing="0", width="504", role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;")
                                    tr
                                        td(align="left", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                                            img(src=`${pathImage}${item.imgLabel}`, alt=`${item.imgLabelAlt}`)
                                    tr
                                        td(style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                                            <br><br>
                                            strong(style=`font-size: ${textTitulo}; color: ${item.colorTitle};`) !{`${item.textTitle}`}
                                            <br><br>
                                    tr
                                        td(align="center", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                                            img(src=`${pathImage}${item.imgThumb}`, style="width: 504px; height: auto;" width="504", height="auto", alt=`${item.imgThumbAlt}`)
                                    tr
                                        td(style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                                            <br><br>
                                            span(style=`font-size: ${textBody}; color: #000000;`) !{`${item.textContent}`}
                                            <br><br>
                                    tr
                                        td(align="right", style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
                                            a(href=`${item.imgButtonUrl}` rel="noopener" target="_blank") 
                                                img(src=`${pathImage}${item.imgButton}`, alt=`${item.imgButtonAlt}`)
                            td(width="24")
                        tr: td(height="24", colspan="3")
                td(width="24")
            tr: td(height="24", colspan="3")

mixin TEXT(textContent)
    table(border="0", cellpadding="0", cellspacing="0", width="100%", role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; max-width: 600px;")
        tr  
            td(width="6%")
            td(align="center", style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                span(style=`font-size: ${textBody}; color: #183699;`) !{`${textContent}`}
            td(width="6%")

mixin TEXT_BLUEBOX(textContent)
    table(border="0", cellpadding="0", cellspacing="0", width="100%", role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0; max-width: 600px;")
        tr  
            td(width="6%")
            td(align="center", style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%; background-color: #183699;")
                span(style=`font-size: ${textBody}; color: #183699;`) !{`${textContent}`}
            td(width="6%")

mixin TEXT_ALT(textContent)
    table(border="0", cellpadding="0", cellspacing="0", width="600", role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;")
        tr  
            td(width="24")
            td(width="552")
                table(border="0", cellpadding="0", cellspacing="0", width="552", role="presentation" style="mso-table-lspace: 0; mso-table-rspace: 0;")
                    tr
                        td(width="24")
                        td(align="center" width="504", style="font-family: helvetica, arial, sans-serif; line-height: 1; mso-line-height-alt: 100%;")
                            strong(style=`font-size: ${textBody}; color: #000000;`) !{`${textContent}`}
                        td(width="24")
                    tr: td(height="24" colspan="3")
            td(width="24")